<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<a href="/new"><button class="card">Add New Message</button></a>
		<div>
			<% if(messages.length !== 0){%> <% messages.forEach(message => { %>
			<div class="card">
				<h3>From: <%= message.user %></h3>
				<p><%= message.text %></p>
				<div><%= message.added.toLocaleString()%></div>
			</div>
			<% }) %> <% } %>
		</div>
	</body>
</html>
